@using Simchas.Data;
@model ContributionsViewModel


<div class="container">
    <h1>Contributors for the @Model.Simcha.Name Simcha</h1>
    <form method="POST" action="/simchas/updatecontributions">
        <input type="hidden" name="simchaId" value="@Model.Simcha.Id" />
        <table class="table table-bordered table-striped" style="margin-top: 40px">
            <tr>
                <th style="text-align:center;vertical-align:middle;">Contribute</th>
                <th style="text-align:center;vertical-align:middle;">Name</th>
                <th style="text-align:center;vertical-align:middle;">Balance</th>
                <th style="text-align:center;vertical-align:middle;">Amount</th>
            </tr>
            @{ int i = 0; }
            @foreach (Contributor c in @Model.Contributors)
            {
            <tr>
                <td style="text-align:center;vertical-align:middle;">
                    @if (c.AmountContributedToSimcha != 0)
                    {
                        <input class="contribute" type="checkbox" name="contributors[@i].Include" checked="checked" value="true" />
                    }
                    else
                    {
                        <input class="contribute" type="checkbox" name="contributors[@i].Include" value="true" />
                    }
                </td>
                <td style="text-align:center;vertical-align:middle;@(c.Balance <= 0 ? "color:red;" : "")">
                    <input type="hidden" name="contributors[@i].ContributorId" value="@c.Id" />@c.FirstName  @c.LastName</td>
                <td style="text-align:center;vertical-align:middle;@(c.Balance <= 0 ? "color:red;" : "")">@c.Balance</td>
                <td style="text-align:center;vertical-align:middle;">
                    <input type="text" name="contributors[@i].Amount" value="@(c.AmountContributedToSimcha != 0 ? c.AmountContributedToSimcha.ToString("C") : "5")" />
                </td>
                @{i++;}
            </tr>
            }
        </table>
        <input type="hidden" name="simchaid" value="@Model.Simcha.Id" />
        <button class="btn btn-danger">Update</button>
    </form>
</div>

